@charset "utf-8";

// ==========================
//
// Variables
//
// ==========================

// path to image directory
$path-to-img: '../img/';

// define color
$color-white  : white;
$color-black  : black;
$color-red    : red;
$color-blue   : blue;
$color-yellow : yellow;
$color-green  : green;

// font family
$font-family-serif    : 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', Georgia, serif;
$font-family-sanserif : 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', Helvetica, Arial, sans-serif;

