@charset "utf-8";

// ==========================
//
// Modules Bar
//
// ==========================

// .mod-bar
.mod-bar {
	margin-bottom: 10px;
	padding: 10px;
	background: $color-black;
	color: $color-white;
}


